body {
  background-color: #00FF00; /* Greenish background color */
  color: #FFFFFF; /* White text color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Set a default font family */
}
section{
    margin-left:10%;
    
}
h1{
    margin-top: 4%;
    margin-bottom: 2%;
    font-style: oblique;
}
table{
    border-collapse: collapse;
    width: 70%;
}
td,th{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
}

button{
    background-color: black;
    border: 1px solid white;
    padding: 5px;
}
button >a{
    font-size: 16px;
}
